*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url(https://opengameart.org/sites/default/files/styles/medium/public/battleback1_0.png);
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100wh;
    text-align: center;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    display: block;
    text-align: center;
}

.navbar li{
    float: right;
}

.navbar h1{
    float: left;
    padding: 10px;
}
