*{
    background-image: url("https://i.makeagif.com/media/4-03-2024/tuD_pn3.jpg");
    font-family: 'Courier New', Courier, monospace;
    margin: 10%;
}
h1, h2, h3, h4, h5{
    color: #0000;
    font-family: 'Courier New', Courier, monospace;
}
#header{

}

#fav{
    list-style: none;
    margin: 10px;
}